* {
  font-family: Roboto, sans-serif;
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  margin-left: 250px;
  font-weight: bolder;
}

.header.links-right {
  display: flex;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
  margin-right: 250px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo,
ul {
  margin-bottom: 116px;
}

.body1 {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  margin-left: 250px;
  width: 25%;
}

.awesome {
  display: flex;
  text-wrap: wrap;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 25px 0;
}

.signup {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 25px;
  font-size: 16px;
  font-weight: 900;
}

/* .placeholder-parent {
    display: flex;
} */

.placeholder-box {
  display: inline-flex;
  border: 5px solid gray;
  margin-right: 250px;
  background-color: gray;
  /* text-align: center; */
  color: white;
  width: 14%;
}
